@font-face{
    font-family: Monsterrat-bold;
    src: url("/assets/fonts/montserrat/Montserrat-Bold.otf") format("opentype");
}
@font-face{
    font-family: Monsterrat-light;
    src: url("/assets/fonts/montserrat/Montserrat-Light.otf") format("opentype");
}
@font-face{
    font-family: Roboto-Light;
    src: url("/assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
}
@font-face{
    font-family: Roboto-Condensed;
    src: url("/assets/fonts/roboto/Roboto-Condensed.ttf") format("truetype");
}


.logo img{
    width: 12rem;
}

#navbar{
    background-color: white;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.margin-top-bottom{
    margin-top: 3%;
    margin-bottom: 2%;
    box-sizing: border-box;
}
.above-nav-container{
    display: block;
    background-color: white;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.above-nav{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.above-nav p{
    font-size: 0.8rem;
    display: inline;
}
.above-nav .link{
    text-align: right;
}
.above-nav a{
    text-decoration: none;
    color: inherit;
}
.above-nav .link{
    display: inline;
    margin-left: 5%;
}
.above-nav .link img{
    width: 0.8rem;
}

.navlinks{
    text-align: right;
}

.navlinks a{
    text-decoration: none;
    color: inherit;
    margin-left: 1%;
}

.logo{
    display: flex;
    justify-content: left;
    align-items: center;
}
.php-hosting-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-with-cap{
    text-align: center;
}
.img-with-cap p{
    font-family: Monsterrat-light;
}
.img-with-cap .img{
    height: 4rem;
}

.package-box{
    text-align: center;
    padding: 0;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3px;
}
.package-box .inner-box{
    padding: 0.2% 1%;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.package-box .inner-box-last{
    padding: 10% 1%;
}
.package-box .inner-box-price p{
    line-height: 1rem;
}
.package-box .inner-box-last p{
    line-height: 0.5rem;
    font-family: Roboto-Condensed;
}
.package-box .title{
    font-size: 1.5rem;
    /* font-weight: bold; */
    font-family: Monsterrat-bold;
}
.package-box .strike-price{
    font-size: 0.7rem;
    text-decoration: line-through;
    font-family: Monsterrat-light;
}
/* .package-box .price{
    
} */
.package-box .user{
    font-size: 0.7rem;
}
/* .package-box .button{
    border-radius: 50px;
    padding: 1%;
    border: 1px solid blue;
    margin-top: 2%;
    background-color: white;
} */

.best .inner-box{
    background-color: rgb(0,144,239);
    border-bottom: 1px solid rgb(0,144,239);
}
.best .inner-box p{
    color: white;
}
.best {
    border: 1px solid rgb(0,144,239);
}
.best .user-box{
    background-color: rgb(0, 127, 222);
}

.section-title{
    text-align: center;
}
.section-title p{
    font-family: Monsterrat-light;
    font-size: 1.5rem;
}

.table-row{
    text-align: center;
    border: 1px solid rgb(235, 235, 235);
    padding: 0;
    margin: 2%;
}
.table-row .text{
    padding: 0.1% 2%;
    width: 100%;
    border-bottom: 1px solid rgb(231, 231, 231);
}
.table-row .even{
    background-color: rgb(231, 231, 231);
}
.table-row img{
    width: 1rem;
    float: left;
    margin-top: 0.2rem;
}
.table-row p{
    font-family: Roboto-Light;
    font-size: 0.8rem;
    font-weight: 500;
}

.feature-box{
    text-align: center;
}
.feature-box .title{
    font-size: 1rem;
    font-weight: 500;
    font-family: Monsterrat-bold;
}
.feature-box .description{
    font-size: 1rem;
}
.feature-box img{
    height: 4rem;
}

.button-off{
    border-radius: 50px;
    padding: 0.3rem 0.7rem;
    border: 3px solid black;
    background-color: white;
    font-weight: 600;
    color: black;
    transition: 0.3s;
}
.button-off:hover{
    border: 3px solid rgb(0,144,239);
    background-color: rgb(0,144,239);
    color: white;
}
.button-on{
    border-radius: 50px;
    padding: 0.3rem 0.7rem;
    border: 3px solid rgb(0,144,239);
    background-color: rgb(0,144,239);
    font-weight: 600;
    color: white;
}

.module-box{
    text-align: left;
    margin: 1%;
}
.module-box p{
    font-size: 0.9rem;
    line-height: 0.4rem;
    font-family: Roboto-Condensed;
}

.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}

.footer-container{
    background-color: rgb(48, 48, 48);
    border: 1px rgb(48, 48, 48);
}
.footer .title{
    margin-bottom: 1.5rem;
    color: rgb(142,142,142);
    font-family: Roboto-Light;
    font-size: 0.8rem;
}
.footer .content a{
    /* line-height: 0.4rem; */
    font-size: 0.85rem;
    color: rgb(216,216,216);
    font-family: Roboto-Light;
    text-decoration: none;
    display: block;
}
.footer .content p{
    line-height: 0.2rem;
    font-size: 0.85rem;
    color: rgb(216,216,216);
    font-family: Roboto-Light;
}
.footer .icon img{
    width: 3rem;
    margin-right: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
}

.no-left-right-padding{
    padding-left: 0;
    padding-right: 0;
}

/* .banner .list p{
    line-height: 0.5rem;
} */
.like-page-container{
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(235, 235, 235);
}
.like-page .icon{
    display: inline;
    margin-right: 2%;
}
.like-page .icon img{
    height: 1.8rem;
}
.like-page p{
    display: inline;
}

.help-page-container{
    background-color: rgb(0, 162, 243);
    border: 1px solid rgb(0, 162, 243);
}
.help-page p{
    font-size: 1.8rem;
    color: white;
    font-family: Monsterrat-light;
}
.help-page .button-off{
    border-radius: 50px;
    padding: 0.5rem 2rem;
    border: 3px solid white;
    background-color: inherit;
    font-weight: 600;
    color: white;
}

.newsletter input{
    padding: 3% 5%; 
    border-radius: 50px; 
    background-color: white;
    border: none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}
.newsletter button{
    border-radius: 50px;
    padding: 2%;
    box-sizing: border-box;
    background-color:rgb(0,144,239);
    border: none;
    outline: none;
    color: white;
    position: absolute;
    right: 1%;
    bottom: 6%;
}
.newsletter .content p {
    line-height: 1.2rem;
    color: rgb(110,110,110);
    font-family: Roboto-Light;
}

.payment-description{
    color: rgb(110,110,110);
    font-family: Roboto-Light;
    font-size: 0.8rem;
    margin-top: 1%;
}

.menu-button{
    display: none;
}
.menu-button img{
    width: 2rem;
}

#overlay {
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    cursor: pointer; 
    transition: 0.2s;
}

.sidebar{
    position: fixed;
    width: 75%;
    background-color: rgb(0,144,239);
    height: 100%;
    top: 0;
    bottom: 0;
    right: -75%;
    z-index: 4;
    transition: 0.2s;
    padding: 3rem;
    box-sizing: border-box;
}
.sidebar a{
    text-decoration: none;
    color: white;
    margin-top: 2rem;
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 2;
}

#banner2 .list p {
    font-size: 0.8rem;
}
#banner2 .list small {
    font-size: 0.7rem;
}

.banner h2{
    font-family: Monsterrat-bold;
}
#banner1 .banner p{
    font-family: Monsterrat-light;
    font-size: 1.3rem;
}
#banner1 .banner .list p{
    font-size: 0.8rem;
}
#banner3 p{
    font-size: 0.9rem;
}
#banner3 p.title{
    font-size: 1.5rem;
}

.payment-img img{
    width: 3rem;
    /* padding: 0.5% 1%z; */
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 1%;
    background-color: white;
}

.copyright p{
    font-size: 0.7rem;
    color: red;
    line-height: 0.2rem;
    color: rgb(216,216,216);
    font-family: Roboto-Light;
}



@media only screen and (max-width: 600px) {
    .module-box{
        text-align: center;
    }
    .above-nav{
        text-align: center;
    }
    .above-nav .link{
        text-align: center;
    }
    .above-nav-container{
        display: none;
    }
    .navlinks{
        display: none;
    }
    .menu-button{
        text-align: right;
        display: block;
    }
    .like-page{
        text-align: center;
    }
    .help-page{
        text-align: center;
    }
    body{
        margin-top: 1%;
    }
    .footer .bottom {
        text-align: center;
    }
}